
.membersHeader {
	width: 100%;
	height: 60px; 
	background-color: rgba(230, 126, 34, 0.97);
	margin: 0; 
	position: fixed;
	z-index: 100;
}

.membersTitle {
	color: #FFFFFF;
	margin: 0;
	margin-left: 25px; 
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-weight: 400;
	display: inline-block;
}

.infoSiteButton {
	display: inline-block;
	position: absolute;
	right: 0;
	width: 150px;
    height: 35px; 
    background-color: #e67e22;
    color: white;
    border-style: solid;
    border-width: 2px; 
    border-color: #FFFFFF;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 300;
    transition: background-color 0.5s; 
    outline: 0;
    margin-right: 25px; 
    margin-top: 12px; 
}

.infoSiteButton:hover {
	background-color: rgba(255, 255, 255, 0.2);
}


.memberContent {
	margin-left: 80px; 
	margin-top: 0px;
	padding: 0;
	padding-left: 0px;
	padding-top: 75px; 
	padding-bottom: 50px; 
	transition: margin 0.3s; 
}

.sideBar {
	height: 100%;
	width: 80px; 
	position: fixed;
	overflow-y: auto;
	overflow-x: hidden;
	transition: width 0.3s;
	background-color: rgba(44, 62, 80, 1);
	margin-top: 60px;
}

.memberNav {
	list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 10px; 
    width: 80px;
    transition: width 0.3s;
}

/*.memberNav:hover {
	width: 200px; 

}
.sideBar:hover {
	width: 200px; 

}*/

.memberNav li a {
	display: block;
	width: 200px;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    margin-top: 5px; 
    margin-bottom: 5px; 
    color: #FFFFFF;
    opacity: 0.3;
}

.memberNav li a.current {
	background-color: rgb(25, 35, 45);
	/*color: rgba(255, 255, 255, 1);*/
	color: #FFFFFF;
	opacity: 1;
}

.memberNav li a:hover:not(.current) {
    background-color: rgb(35, 49, 63);
    opacity: 0.7;
}

.navDiv {
	display: inline;
	height: 50px; 
	width: 200px; 
}


.navImg {
	display: inline;
	vertical-align: middle;
	width: 35px; 
	margin-left: 5px; 
	margin-right: 25px;
}

.navText {
	display: inline;
	text-align: center;
}


#loginDiv {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 500px;
	height: 350px;
	border-style: solid;
	border-radius: 15px;
	border-color: #e67e22;
	border-width: 3px; 
}

#loginTitle {
	text-align: center;
	font-size: 1.8em;
}

#loginError {
	text-align: center;
	color: red;
	font-size: 15px; 
	margin-bottom: 5px;
	margin-top: 0px; 

}

.loginField {
	width: 400px; 
	height: 45px; 
	border-radius: 10px; 
	border-style: solid;
	border-color: #e67e22;
	border-width: 2px; 
	display: block;
	margin: 0 auto;
	font-size: 15px; 
	padding-left: 10px; 
	outline: 0; 

}

.forgot {
	color: gray; 
	font-size: 14px; 
	text-align: center;
	margin-top: 5px; 
}


#loginButton {
	width: 200px;
    height: 50px; 
    background-color: #e67e22;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 300;
    transition: background-color 0.5s; 
    outline: 0;
    display: block;
	margin: 0 auto; 
}

#loginButton:hover {
	background-color: #f2652e;
}

#githubLink {
	position: absolute;
	bottom: 0; 
	width: 100%;
	text-align: center;
	padding-bottom: 35px;
	color: #000000;
}

#githubLink:hover {
	text-decoration: underline;
}

.membersPageTitle {
	margin-top: 18px;
	margin-bottom: 20px;
	height: 140px;
	text-align: center;
	width: 100%; 
	overflow: hidden;

}

.orangeTitle {
	overflow: hidden;
	text-align: center;
	font-size: 2.5em;
	font-weight: 600;
}

.orangeTitle:before,
.orangeTitle:after {
	background-color: #e67e22;
	content: "";
	display: inline-block;
	height: 8px;
	position: relative;
	vertical-align: middle;
	width: 50%;
}

.orangeTitle:before {
	right: 0.5em;
	margin-left: -50%;
}

.orangeTitle:after {
	left: 0.5em;
	margin-right: -50%;
}

.memPageDesc {
	margin-top: 35px; 
	margin-right: 15px; 
	margin-left: 15px; 
	margin-bottom: 0px; 
}

.infoPanels {
	display: grid;
	grid-template-columns: auto auto auto; 
	margin: 0 auto;
	width: 90%; 
	grid-gap: 15px; 
}

.namePanel {
	grid-column-start: 1; 
	grid-column-end: 4; 
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	background-color: #F2F2F2;
	height: 150px; 
	padding-left: 25px; 
	padding-bottom: 10px; 
	padding-top: 10px; 
}

.proPic {
	width: 140px; 
	height: 140px; 
	border-radius: 50%; 
	margin-top: 4px; 
	margin-left: 10px; 
	border-style: solid;
	border-color: #e67e22;
	border-width: 2px; 
	display: inline;
	vertical-align: top;
}

.memName {
	display: inline-block;
	width: 500px; 
	height: 50px; 
	margin-left: 35px; 
}

.memberName {
	margin-top: 30px; 
	margin-bottom: 10px; 
}

.memberStatus {
	margin-top: 0;

}

.editButton {
	width: 140px;
    height: 50px; 
    background-color: #e67e22;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 300;
    transition: background-color 0.5s; 
    outline: 0;
	float: right;
	margin-top: 50px; 
	margin-right: 60px;
}

.editButton:hover {
	background-color: #f2652e;
}


.stdInfoPanel {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	background-color: #F2F2F2;
	height: 200px; 
}

.panelTitleSec {
	background-color: #d6d4d4;
	width: 100%; 
	height: 50px; 
	text-align: left;
}

.panelTitle {
	margin-top: 0px; 
	margin-left: 10px; 
	padding-top: 15px; 
}

.panelInfo {
	padding-left: 15px; 
}


.allMemPanels {
	display: grid;
	grid-template-columns: auto auto auto; 
	margin: 0 auto;
	width: 90%; 
	grid-gap: 15px; 
}

.memberPanels {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	background-color: #F2F2F2;
	height: 225px; 
}

.miniProPic {
	width: 30px; 
	height: 30px; 
	border-radius: 50%; 
	float: right;
	margin-top: 10px; 
	margin-right: 10px; 

}

#editPopup {
	display: none;
	position: fixed;
	top: -30%; 
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 650px; 
	height: 500px; 
	border-radius: 30px; 
	border-style: solid;
	border-width: 3px; 
	border-color: #e67e22;
	background-color: rgba(255, 255, 255, 0.97);
	transition: top 0.3s ease-out; 
}

#editTitle {
	text-align: center;
}


.editField {
	width: 200px;
	height: 45px; 
	border-radius: 10px; 
	border-style: solid;
	border-color: #e67e22;
	border-width: 2px; 
	font-size: 15px; 
	padding-left: 10px; 
	margin-bottom: 25px; 
	outline: 0; 
}

.editSubmitButton {
	width: 200px;
    height: 50px; 
    background-color: #e67e22;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 300;
    transition: background-color 0.5s; 
    outline: 0;
	margin-top: 30px; 
}

.editSubmitButton:hover {
	background-color: #f2652e;
}



























#quoteForm {
	width: 100%;
	display: block;
	margin: 0 auto; 
	text-align: center;
}

.quoteDiv {
	display: block;
	margin: 0 auto; 
	margin-top: 35px; 
	margin-bottom: 15px; 
	background-color: #F2F2F2;
	padding: 0px;
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	width: 85%; 
	max-width: 1000px; 
	height: 100px;

}

.quoteTotal {
	text-align: center;
}

.quoteHeader {
	width: 100%; 
	background-color: #FFFFFF;
	height: 55px;
	vertical-align: middle;
}

.quoteFooter {
	width: 100%;
	height: 45px; 
	vertical-align: middle;
}

.quote {
	font-weight: 400;
	margin-left: 25px;
	margin-right: 25px; 
	padding-top: 20px; 
	/*line-height: 55px;*/ 

}

.quoteInfo {
	margin-left: 25px; 
	line-height: 15px; 

}

.quoteTextBox {
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	background-color: rgba(0,0,0,0);
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid #DDDDDD;
	padding-left: 0px;
	padding-right: 20px;
	height: 50px; 
	width: 200px; 
	margin-right: 20px; 

   	transition: all .15s ease-in-out;
   	-moz-transition: all .15s ease-in-out;
   	-webkit-transition: all .15s ease-in-out;
}

.quoteTextBox:hover {
	border-color: #AAAAAA;
	color: #000000;
}

.quoteTextBox:focus {
	outline: none;
	color: #000000;
	border-bottom: none;
	padding-left: 20px;
	margin-bottom: 2px;
	-webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.20);
	-moz-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.20);
	box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.20);
	border-radius: 4px;
	background-color: #FFFFFF;
}

#quoteSubmit {
	width: 100px;
    height: 40px; 
    background-color: #e67e22;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 300;
    transition: background-color 0.5s; 
    outline: 0;
	margin-top: 20px; 
}

#quoteSubmit:hover {
	background-color: #f2652e;
}

.quoteDelete {
	display: block;
	margin: 0 auto;
	width: 85%; 
	max-width: 1000px; 
	height: 25px;
	border-style: solid;
	border-radius: 4px; 
	border-color: #EF4836;
	margin-top: 0;
	background-color: #FFFFFF;
	transition: all 0.5s;
}

.quoteDelete:hover {
	background-color: #EF4836;
	color: #FFFFFF;
}







